html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid;
}

th, td {
  vertical-align: top;
  word-break: break-word;
}

h1 {
  margin-bottom: 1em;
}

pre {
  margin: 0;
}
